{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savor the Slim</title> <!-- Website name in the title -->
    <link rel="stylesheet" href="{% static 'registration/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Savor the Slim</h1> <!-- Displaying the website name -->
    </header>
    
    <main>
        {% block content %}
        <!-- Content will be injected here from child templates -->
        {% endblock %}
    </main>

    <script src="{% static 'registration/js/script.js' %}"></script>
</body>
</html>
