{% extends 'weightloss_app/base.html' %}

{% load static %}

{% block content %}
<div style="text-align: center; margin-top: 50px;">
    <h2>You have been logged out successfully!</h2>
    <p>Thank you for visiting Savor the Slim. We hope to see you again soon!</p>
    <a href="{% url 'login' %}">
        <button>Login Again</button>
    </a>
    <a href="{% url 'register' %}">
        <button>Register</button>
    </a>
    <a href="{% url 'recipe_page' %}">
        <button>View Recipes</button>
    </a>
</div>
{% endblock %}
